.section
  .row
    .small-12.columns
      %p
        PARAGRAPH 1
      %p
        PARAGRAPH 2
      %p
        PARAGRAPH 3
      %p
        PARAGRAPH 4
  %hr
    .row
    .small-12.columns.centered
      %p
        This site was built using TDD best-practices by TeaLeaf Academy student
        =link_to "Patrick Jones", "http://pmichaeljones.herokuapp.com"
  %hr
  = render 'shared/messages'
  .row
    .small-12.columns
      =form_for(User.new, data: {abide:''}) do |f|
        %fieldset
          %legend Leaderboard Submission Form
          .row
            .small-12.column
              %p Note: You will receive an email containing a secret token. Use that token to remove yourself from the leaderboard.
              %p After adding yourself to the leaderboard, your secret token will also appear in the green "success" box above.
            .small-12.large-3.column
              = f.label :name, "Your Name"
              = f.text_field :name, placeholder: 'Your Name', required: ''
              %small.error Please enter name
            .small-12.large-3.column
              = f.label :github_username, "GitHub Username"
              = f.text_field :github_username, placeholder: 'Your GitHub Username', class: 'radius', required: ''
              %small.error Enter username please!
            .small-12.large-3.column
              = f.label :email, "Email Address"
              = f.text_field :email, placeholder: 'Email Address', class: 'radius', id: "email", type: 'email', required: ''
              %small.error Must be valid email
            .small-12.large-3.column
              %label Email Confirmation
              %input(type="email" placeholder="Email confirmation" class='radius' data-equalto="email" required=true)
              %small.error Emails don't match
          .small-12.column.centered
            = f.submit "Join the Leaderboard!", class: 'button login-button'
            = link_to "Refresh Leaderboard!", update_users_path, class: 'button login-button light-blue'
  .row
    .small-12.columns.centered
      %h2
        Tealeaf Academy Leaderboard
  .row
    .small-12.columns
      %table
        %thead
          %tr
            %th Rank
            %th Name
            %th GitHub Username
            %th Yearly Contributions
            %th Longest Streak
            %th.centered Delete
        %tbody
          -@users.each_with_index do |user, index|
            %tr
              %td #{index + 1}
              %td #{user.name}
              %td=link_to "#{user.github_username}", "https://github.com/#{user.github_username}"
              %td #{user.contributions} Commits
              %td #{user.streak} Days
              %td.centered
                =form_tag("/delete_user", method: :post) do
                  =hidden_field_tag :user_id, user.id
                  =submit_tag "X", class: 'erase-user-button'